<div class="container" style=margin:50px;>
    <div class="card border-primar">
        <div class="card-header">
            <form>
                <div class="form-group">
                    <label> Patient List </label>
                    <input type="text"  class ="form-control" #patientid>
                <button (click) = "patientDetails(patientid.value)" class = "btn btn-info" style="margin-left: 10px"> View</button>
                </div>
            
            </form>
        </div>
    </div>
</div>