<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class = "nav-item">
        <a routerLink="add-doctor" routerLinkActive="active" class="nav-link">Add Doctor Details</a>
        </li>
        <li class = "nav-item">
          <a routerLink="doctor-details" routerLinkActive="active" class="nav-link">View Doctor Details</a>
          </li>
          <li class = "nav-item">
            <a routerLink="add-patient" routerLinkActive="active" class="nav-link">Add Patient Details</a>
            </li>
          <li class = "nav-item">
            <a routerLink="patient-details" routerLinkActive="active" class="nav-link">View Patient Details</a>
            </li>
      </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
